* {
  border: 1px solid transparent;
  color: #535353;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.tickets-list {
  width: 100%;
}

.ticket-name {
  width: 100%;
}

.btn {
  color: #6c6c6c;
  background-color: #fff;
  border-radius: 5px;
  border-color: #6c6c6c;
}

.button-create {
  margin-bottom: 15px;
  padding: 10px 20px;
}

.button-add {
  margin-bottom: 15px;
  padding: 10px 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  
  line-height: 0px;
}

.hidden {
  display: none;
}

.ticket {
  font-size: 20px;
  border: solid 1px #6c6c6c;
}

.true::before {
  content: '\2714';  

  margin-left: 5px; 
  line-height: 27px;
}

.info {
  display: flex;
}

.ticket-create::before {
  content: '\270E';

  margin-left: -2px;

  font-size: 17px;
  line-height: 17px;
}

.ticket-delete::before {
  content: '\2573';

  margin-left: -1px;
  padding: 2px;

  font-size: 10px;
}

.ticket-btn {
  margin: auto 10px;
  
  width: 25px;
  height: 25px;

  border-radius: 50%;
}

.ticket-date {
  margin: auto 10px;

  width: 100px;

  font-size: 15px;
}

.ticket-status {
  min-width: 25px;
}

.description{
  margin-left: 5%;
  margin-bottom: 15px;
}

.form {
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);

  padding: 15px;
  width: 500px;

  background-color: #fff;
  border: solid 1px #6c6c6c;
  border-radius: 5px;
}

.form-title {
  margin-block-start: 0;
  text-align: center;
}

.input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px #6c6c6c;
}

.btn-form {
  margin-left: 10px;
  padding: 10px;
}

.confirmation-title{
  text-align: center;
}

.buttons {
  direction: rtl;
}

.confirmation-btn {
  margin-bottom: 15px;
  margin-left: 5px;
  padding: 10px 20px;
}
